<?xml version="1.0" encoding="utf-8" ?>
<configuration>
        <startup>
            <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
        </startup>
	<connectionStrings>
		<clear/>
		<add name="default" connectionString="Data Source=.;Initial Catalog=traintracker;Integrated Security=True; MultipleActiveResultSets=true" providerName="using System.Data.SqlClient"/>
		<!--<add name="default" connectionString="Data Source="den1.mssql8.gear.host;  Initial Catalog= traintracker;  Uid=traintracker;  Pwd=Yy82!l6X6NU-; MultipleActiveResultSets=true" providerName="using System.Data.SqlClient"/>
		<add name="default" connectionString="Data Source = den1.mssql8.gear.host;  Initial Catalog= traintracker;  Uid=traintracker;  Pwd=Yy82!l6X6NU-;  MultipleActiveResultSets=true " providerName="using System.Data.SqlClient"/>
		<add name="default" connectionString="Data Source=den1.mssql8.gear.host;Initial Catalog=traintracker;User ID=traintracker" providerName="using System.Data.SqlClient"/>-->
	</connectionStrings>
</configuration>